.product-card
{
    width: 160px;
    padding: 1.6rem 1.4rem 1.6rem 1.6rem;
    position: relative;
    display: block;
    border-radius: 8px;
    background: #fff;
    overflow: hidden;
}

.product-card__image
{
    display: flex;
    justify-content: center;
}

.product-card__title
{
    margin-top: 10px;
    font-size: 14px;
}

.product-card__rating-info
{
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.product-card__star
{
    color: red;
    height: 14px;
    width: 14px;
    display: inline-flex;
    margin-right: 3px;
}

.product-card__rating
{
    color: red;
    display: flex;
    margin-right: 5px;
    font-weight: 600;
}

.product-card__text--red
{
    color: red !important;
}

.product-card__text
{
    font-size: 12px;
    color: gray;
}

.product-card__price-info
{ 
    margin-top: 10px;
    display: flex;
    width: 100%;
    align-items: center;
}

.product-card__price
{
    font-size: 16px;
    color: #333;
    font-weight: 700;
    margin-right: 5px;
}

.product-card__price--old
{
    color: gray;
    font-size: 12px;
    text-decoration: line-through;
}