<div class="product-card">
    <div class="product-card__image">
        <img src="https://img.mvideo.ru/Pdb/small_pic/200/30058491b.jpg">
    </div>
    <div class="product-card__title">
        Смартфон Samsung Galaxy A12 32GB Black (SM-A127F)
    </div>
    <div class="product-card__rating-info">
        <div class="product-card__rating">
            <mat-icon class="product-card__star" svgIcon="star"></mat-icon>
            <span class="product-card__text product-card__text--red">
                4.7
            </span>
        </div>
        <span class="product-card__text">
            49 отзывов
        </span>
    </div>
    <div class="product-card__price-info">
        <div class="product-card__price">
            9 499 
        </div>
       <div class="product-card__price product-card__price--old">
            10 499 
       </div>
    </div>
    <div class="product-card__buttons">

    </div>
</div>