<div class="carousel">
  <button class="carousel__button carousel__button--left" *ngIf="!leftArrowHide" (click)="scrollLeft()">
    <mat-icon svgIcon="arrow-left" class="carousel__icon"></mat-icon>
  </button>

   <div id="list-items" #scrollWrapper carousel (scrolled)="listenToItemsScroll($event)" class="carousel__items">
      <ng-content></ng-content>
    </div>

  <button class="carousel__button carousel__button--right" *ngIf="!rightArrow" (click)="scrollRight()">
    <mat-icon svgIcon="arrow-right" class="carousel__icon"></mat-icon>
  </button>
</div>
