<nav class="d-flex">
  <div *ngIf="!hideNav" class="control d-flex align-items-center justify-content-center mousePointer" (mousedown)="left()"
  (click)="scrollLeft()" (mouseup)="clear()">
    <div class="prev" [ngClass]="{'opacity': !leftArrowHide}">
      left
    </div>
  </div>
  <div [ngClass]="!hideNav ? 'items-wrapper' : 'w-100'">
    <div id="list-items" #hScroll carousel (scrolled)="listenToItemsScroll($event)">
      <ng-content></ng-content>
    </div>
  </div>
  <div *ngIf="!hideNav" class="control d-flex justify-content-center align-items-center mousePointer"
  (click)="scrollRight()" (mousedown)="right()" (mouseup)="clear()">
    <div class="next rotate-right" [ngClass]="{'opacity': !rightArrow}">
      right
    </div>
  </div>
</nav>