<div class="image-carousel" *ngIf="images && images.length > 0">
    <button class="carousel__button carousel__button--left" (click)="scrollLeft()">
        <mat-icon svgIcon="arrow-left" class="carousel__icon"></mat-icon>
    </button>

    <img class="image-carousel__item" [src]="images[currentIndex].uri" [ngClass]="{'image-carousel__item--hidden' : imageScrolling }">

    <button class="carousel__button carousel__button--right" (click)="scrollRight()">
        <mat-icon svgIcon="arrow-right" class="carousel__icon"></mat-icon>
    </button>
</div>