<app-carousel>
    <div class="category-card">
        <div class="category-card__image">
            <img class="category-image" src="https://cms.mvideo.ru/magnoliaPublic/dam/jcr:6908cb9c-37b4-40f8-b068-02b410a0f4d5">
        </div>
        <span class="category-card__title">
            Смартфоны
        </span>
    </div>
    <div class="category-card">
        <div class="category-card__image">
            <img class="category-image" src="https://cms.mvideo.ru/magnoliaPublic/dam/jcr:6908cb9c-37b4-40f8-b068-02b410a0f4d5">
        </div>
        <span class="category-card__title">
            Смартфоны
        </span>
    </div>
    <div class="category-card">
        <div class="category-card__image">
            <img class="category-image" src="https://cms.mvideo.ru/magnoliaPublic/dam/jcr:6908cb9c-37b4-40f8-b068-02b410a0f4d5">
        </div>
        <span class="category-card__title">
            Смартфоны
        </span>
    </div>
    <div class="category-card">
        <div class="category-card__image">
            <img class="category-image" src="https://cms.mvideo.ru/magnoliaPublic/dam/jcr:6908cb9c-37b4-40f8-b068-02b410a0f4d5">
        </div>
        <span class="category-card__title">
            Смартфоны
        </span>
    </div>
    <div class="category-card">
        <div class="category-card__image">
            <img class="category-image" src="https://cms.mvideo.ru/magnoliaPublic/dam/jcr:6908cb9c-37b4-40f8-b068-02b410a0f4d5">
        </div>
        <span class="category-card__title">
            Смартфоны
        </span>
    </div>
    <div class="category-card">
        <div class="category-card__image">
            <img class="category-image" src="https://cms.mvideo.ru/magnoliaPublic/dam/jcr:6908cb9c-37b4-40f8-b068-02b410a0f4d5">
        </div>
        <span class="category-card__title">
            Смартфоны
        </span>
    </div>
    <div class="category-card">
        <div class="category-card__image">
            <img class="category-image" src="https://cms.mvideo.ru/magnoliaPublic/dam/jcr:6908cb9c-37b4-40f8-b068-02b410a0f4d5">
        </div>
        <span class="category-card__title">
            Смартфоны
        </span>
    </div>
    <div class="category-card">
        <div class="category-card__image">
            <img class="category-image" src="https://cms.mvideo.ru/magnoliaPublic/dam/jcr:6908cb9c-37b4-40f8-b068-02b410a0f4d5">
        </div>
        <span class="category-card__title">
            Смартфоны
        </span>
    </div>
    <div class="category-card">
        <div class="category-card__image">
            <img class="category-image" src="https://cms.mvideo.ru/magnoliaPublic/dam/jcr:6908cb9c-37b4-40f8-b068-02b410a0f4d5">
        </div>
        <span class="category-card__title">
            Смартфоны
        </span>
    </div>
    <div class="category-card">
        <div class="category-card__image">
            <img class="category-image" src="https://cms.mvideo.ru/magnoliaPublic/dam/jcr:6908cb9c-37b4-40f8-b068-02b410a0f4d5">
        </div>
        <span class="category-card__title">
            Смартфоны
        </span>
    </div>
    <div class="category-card">
        <div class="category-card__image">
            <img class="category-image" src="https://cms.mvideo.ru/magnoliaPublic/dam/jcr:6908cb9c-37b4-40f8-b068-02b410a0f4d5">
        </div>
        <span class="category-card__title">
            Смартфоны
        </span>
    </div>
    <div class="category-card">
        <div class="category-card__image">
            <img class="category-image" src="https://cms.mvideo.ru/magnoliaPublic/dam/jcr:6908cb9c-37b4-40f8-b068-02b410a0f4d5">
        </div>
        <span class="category-card__title">
            Смартфоны
        </span>
    </div>
</app-carousel>
