<app-carousel>
    <div class="advantage-card">
        <img class="advantage-card__image" src="https://static.mvideo.ru/media/Assets/facelift/img/icon/svg/1_40.svg">
        <span class="advantage-card__title">
            Удобная доставка
        </span>
    </div>
    <div class="advantage-card">
        <img class="advantage-card__image" src="https://static.mvideo.ru/media/Assets/facelift/img/icon/svg/1_40.svg">
        <span class="advantage-card__title">
            Удобная доставка
        </span>
    </div>
    <div class="advantage-card">
        <img class="advantage-card__image" src="https://static.mvideo.ru/media/Assets/facelift/img/icon/svg/1_40.svg">
        <span class="advantage-card__title">
            Удобная доставка
        </span>
    </div>
    <div class="advantage-card">
        <img class="advantage-card__image" src="https://static.mvideo.ru/media/Assets/facelift/img/icon/svg/1_40.svg">
        <span class="advantage-card__title">
            Удобная доставка
        </span>
    </div>
    <div class="advantage-card">
        <img class="advantage-card__image" src="https://static.mvideo.ru/media/Assets/facelift/img/icon/svg/1_40.svg">
        <span class="advantage-card__title">
            Удобная доставка
        </span>
    </div>
    <div class="advantage-card">
        <img class="advantage-card__image" src="https://static.mvideo.ru/media/Assets/facelift/img/icon/svg/1_40.svg">
        <span class="advantage-card__title">
            Удобная доставка
        </span>
    </div>
    <div class="advantage-card">
        <img class="advantage-card__image" src="https://static.mvideo.ru/media/Assets/facelift/img/icon/svg/1_40.svg">
        <span class="advantage-card__title">
            Удобная доставка
        </span>
    </div>
    <div class="advantage-card">
        <img class="advantage-card__image" src="https://static.mvideo.ru/media/Assets/facelift/img/icon/svg/1_40.svg">
        <span class="advantage-card__title">
            Удобная доставка
        </span>
    </div>
    <div class="advantage-card">
        <img class="advantage-card__image" src="https://static.mvideo.ru/media/Assets/facelift/img/icon/svg/1_40.svg">
        <span class="advantage-card__title">
            Удобная доставка
        </span>
    </div>
    <div class="advantage-card">
        <img class="advantage-card__image" src="https://static.mvideo.ru/media/Assets/facelift/img/icon/svg/1_40.svg">
        <span class="advantage-card__title">
            Удобная доставка
        </span>
    </div>
    <div class="advantage-card">
        <img class="advantage-card__image" src="https://static.mvideo.ru/media/Assets/facelift/img/icon/svg/1_40.svg">
        <span class="advantage-card__title">
            Удобная доставка
        </span>
    </div>
    <div class="advantage-card">
        <img class="advantage-card__image" src="https://static.mvideo.ru/media/Assets/facelift/img/icon/svg/1_40.svg">
        <span class="advantage-card__title">
            Удобная доставка
        </span>
    </div>
    <div class="advantage-card">
        <img class="advantage-card__image" src="https://static.mvideo.ru/media/Assets/facelift/img/icon/svg/1_40.svg">
        <span class="advantage-card__title">
            Удобная доставка
        </span>
    </div>
</app-carousel>
