<app-carousel>
    <div class="brand-card">
        <img class="brand-card__image" src="https://static.mvideo.ru/pics/brands/685.gif">
    </div>
    <div class="brand-card">
        <img class="brand-card__image" src="https://static.mvideo.ru/pics/brands/685.gif">
    </div>
    <div class="brand-card">
        <img class="brand-card__image" src="https://static.mvideo.ru/pics/brands/685.gif">
    </div>
    <div class="brand-card">
        <img class="brand-card__image" src="https://static.mvideo.ru/pics/brands/685.gif">
    </div>
    <div class="brand-card">
        <img class="brand-card__image" src="https://static.mvideo.ru/pics/brands/685.gif">
    </div>
    <div class="brand-card">
        <img class="brand-card__image" src="https://static.mvideo.ru/pics/brands/685.gif">
    </div>
    <div class="brand-card">
        <img class="brand-card__image" src="https://static.mvideo.ru/pics/brands/685.gif">
    </div>
    <div class="brand-card">
        <img class="brand-card__image" src="https://static.mvideo.ru/pics/brands/685.gif">
    </div>
    <div class="brand-card">
        <img class="brand-card__image" src="https://static.mvideo.ru/pics/brands/685.gif">
    </div>
    <div class="brand-card">
        <img class="brand-card__image" src="https://static.mvideo.ru/pics/brands/685.gif">
    </div>
    <div class="brand-card">
        <img class="brand-card__image" src="https://static.mvideo.ru/pics/brands/685.gif">
    </div>
    <div class="brand-card">
        <img class="brand-card__image" src="https://static.mvideo.ru/pics/brands/685.gif">
    </div>
    <div class="brand-card">
        <img class="brand-card__image" src="https://static.mvideo.ru/pics/brands/685.gif">
    </div>
    <div class="brand-card">
        <img class="brand-card__image" src="https://static.mvideo.ru/pics/brands/685.gif">
    </div>
    <div class="brand-card">
        <img class="brand-card__image" src="https://static.mvideo.ru/pics/brands/685.gif">
    </div>
</app-carousel>
