<div class="footer">
    <div class="container">
        <div class="footer-section footer-section--bordered footer-section--row">
            <div class="logo">
                <img src="https://cms.mvideo.ru/magnoliaPublic/dam/jcr:669781ab-9d44-4162-ae02-ac3eb862e1b9">
            </div>
            <button class="footer__location-button">
                Как до нас добраться
            </button>
        </div>
        <div class="footer-section footer-section--bordered footer-section--row">
           <div class="footer-column">
               <h4 class="footer-title">Покупателям</h4>
               <a class="footer-link">Каталог</a>
               <a class="footer-link">Частые вопросы</a>
               <a class="footer-link">Акции</a>
               <a class="footer-link">Каталог</a>
               <a class="footer-link">Каталог</a>
               <a class="footer-link">Каталог</a>
               <a class="footer-link">Каталог</a>
               <a class="footer-link">Каталог</a>
           </div>
           <div class="footer-column">
                <h4 class="footer-title">Покупателям</h4>
                <a class="footer-link">Каталог</a>
                <a class="footer-link">Частые вопросы</a>
                <a class="footer-link">Акции</a>
                <a class="footer-link">Каталог</a>
                <a class="footer-link">Каталог</a>
                <a class="footer-link">Каталог</a>
                <a class="footer-link">Каталог</a>
                <a class="footer-link">Каталог</a>
            </div>
            <div class="footer-column">
                <h4 class="footer-title">Покупателям</h4>
                <a class="footer-link">Каталог</a>
                <a class="footer-link">Частые вопросы</a>
                <a class="footer-link">Акции</a>
                <a class="footer-link">Каталог</a>
                <a class="footer-link">Каталог</a>
                <a class="footer-link">Каталог</a>
                <a class="footer-link">Каталог</a>
                <a class="footer-link">Каталог</a>
            </div>
            <div class="footer-column">
                <h4 class="footer-title">Покупателям</h4>
                <a class="footer-link">Каталог</a>
                <a class="footer-link">Частые вопросы</a>
                <a class="footer-link">Акции</a>
                <a class="footer-link">Каталог</a>
                <a class="footer-link">Каталог</a>
                <a class="footer-link">Каталог</a>
                <a class="footer-link">Каталог</a>
                <a class="footer-link">Каталог</a>
            </div>
            <div class="footer-column">
                <h4 class="footer-title">Покупателям</h4>
                <a class="footer-link">Каталог</a>
                <a class="footer-link">Частые вопросы</a>
                <a class="footer-link">Акции</a>
                <a class="footer-link">Каталог</a>
                <a class="footer-link">Каталог</a>
                <a class="footer-link">Каталог</a>
                <a class="footer-link">Каталог</a>
                <a class="footer-link">Каталог</a>
            </div>
        </div>
        <div class="footer-section footer-section--bordered footer-section--row">
            <a class="footer-link">Официальная информация</a>
            <a class="footer-link">GitBrainsStudio™</a>
        </div>
    </div>
</div>