<div class="home-section">
    <app-header></app-header>
</div>

<div class="home-section container">

    <div style="margin-top: 20px; margin-bottom: 20px;">
        <app-image-carousel [images]="images"></app-image-carousel>
    </div>

    <app-carousel>
        <div class="widget carousel__item">
            <div class="widget__icon">
                <mat-icon svgIcon="phone"></mat-icon>
            </div>
            <div class="widget__text">
                Авторизируйтесь, чтобы получить скидку
            </div>
        </div>
        <div class="widget carousel__item">
            <div class="widget__icon">
                <mat-icon svgIcon="phone"></mat-icon>
            </div>
            <div class="widget__text">
                Авторизируйтесь, чтобы получить скидку
            </div>
        </div>
        <div class="widget carousel__item">
            <div class="widget__icon">
                <mat-icon svgIcon="phone"></mat-icon>
            </div>
            <div class="widget__text">
                Авторизируйтесь, чтобы получить скидку
            </div>
        </div>
        <div class="widget carousel__item">
            <div class="widget__icon">
                <mat-icon svgIcon="phone"></mat-icon>
            </div>
            <div class="widget__text">
                Авторизируйтесь, чтобы получить скидку
            </div>
        </div>
        <div class="widget carousel__item">
            <div class="widget__icon">
                <mat-icon svgIcon="phone"></mat-icon>
            </div>
            <div class="widget__text">
                Авторизируйтесь, чтобы получить скидку
            </div>
        </div>
        <div class="widget carousel__item">
            <div class="widget__icon">
                <mat-icon svgIcon="phone"></mat-icon>
            </div>
            <div class="widget__text">
                Авторизируйтесь, чтобы получить скидку
            </div>
        </div>
        <div class="widget carousel__item">
            <div class="widget__icon">
                <mat-icon svgIcon="phone"></mat-icon>
            </div>
            <div class="widget__text">
                Авторизируйтесь, чтобы получить скидку
            </div>
        </div>
        <div class="widget carousel__item">
            <div class="widget__icon">
                <mat-icon svgIcon="phone"></mat-icon>
            </div>
            <div class="widget__text">
                Авторизируйтесь, чтобы получить скидку
            </div>
        </div>
        <div class="widget carousel__item">
            <div class="widget__icon">
                <mat-icon svgIcon="phone"></mat-icon>
            </div>
            <div class="widget__text">
                Авторизируйтесь, чтобы получить скидку
            </div>
        </div>
        <div class="widget carousel__item">
            <div class="widget__icon">
                <mat-icon svgIcon="phone"></mat-icon>
            </div>
            <div class="widget__text">
                Авторизируйтесь, чтобы получить скидку
            </div>
        </div>
    </app-carousel>
</div>

<div class="home-section home-section--white">
        <div class="container">
            <h2 class="home-section__title">Хиты продаж</h2>
            <app-carousel>
                <app-product-card class="carousel__item"></app-product-card>
                <app-product-card class="carousel__item"></app-product-card>
                <app-product-card class="carousel__item"></app-product-card>
                <app-product-card class="carousel__item"></app-product-card>
                <app-product-card class="carousel__item"></app-product-card>
                <app-product-card class="carousel__item"></app-product-card>
                <app-product-card class="carousel__item"></app-product-card>
                <app-product-card class="carousel__item"></app-product-card>
                <app-product-card class="carousel__item"></app-product-card>
                <app-product-card class="carousel__item"></app-product-card>
                <app-product-card class="carousel__item"></app-product-card>
            </app-carousel>
        </div>
  
        <div class="container">
            <h2 class="home-section__title">Новинки, актуальные предложения</h2>
            <app-carousel>
               <div class="stories carousel__item"></div>
               <div class="stories carousel__item"></div>
               <div class="stories carousel__item"></div>
               <div class="stories carousel__item"></div>
               <div class="stories carousel__item"></div>
               <div class="stories carousel__item"></div>
               <div class="stories carousel__item"></div>
               <div class="stories carousel__item"></div>
               <div class="stories carousel__item"></div>
               <div class="stories carousel__item"></div>
               <div class="stories carousel__item"></div>
               <div class="stories carousel__item"></div>
            </app-carousel>
        </div>
      
        <div class="container">
            <h2 class="home-section__title">Популярные категории</h2>
            <app-category-carousel></app-category-carousel>
        </div>
       
        <div class="container">
            <h2 class="home-section__title">Самые просматриваемые</h2>
            <app-carousel>
                <app-product-card class="carousel__item"></app-product-card>
                <app-product-card class="carousel__item"></app-product-card>
                <app-product-card class="carousel__item"></app-product-card>
                <app-product-card class="carousel__item"></app-product-card>
                <app-product-card class="carousel__item"></app-product-card>
                <app-product-card class="carousel__item"></app-product-card>
                <app-product-card class="carousel__item"></app-product-card>
                <app-product-card class="carousel__item"></app-product-card>
                <app-product-card class="carousel__item"></app-product-card>
                <app-product-card class="carousel__item"></app-product-card>
                <app-product-card class="carousel__item"></app-product-card>
            </app-carousel>
        </div>
        
        <div class="container">
            <h2 class="home-section__title">Популярные бренды</h2>
            <app-carousel>
                <app-product-card class="carousel__item"></app-product-card>
                <app-product-card class="carousel__item"></app-product-card>
                <app-product-card class="carousel__item"></app-product-card>
                <app-product-card class="carousel__item"></app-product-card>
                <app-product-card class="carousel__item"></app-product-card>
                <app-product-card class="carousel__item"></app-product-card>
                <app-product-card class="carousel__item"></app-product-card>
                <app-product-card class="carousel__item"></app-product-card>
                <app-product-card class="carousel__item"></app-product-card>
                <app-product-card class="carousel__item"></app-product-card>
                <app-product-card class="carousel__item"></app-product-card>
            </app-carousel>
        </div>
        
        <div class="container">
            <h2 class="home-section__title">Наши преимущества</h2>
            <app-carousel>
                <app-product-card class="carousel__item"></app-product-card>
                <app-product-card class="carousel__item"></app-product-card>
                <app-product-card class="carousel__item"></app-product-card>
                <app-product-card class="carousel__item"></app-product-card>
                <app-product-card class="carousel__item"></app-product-card>
                <app-product-card class="carousel__item"></app-product-card>
                <app-product-card class="carousel__item"></app-product-card>
                <app-product-card class="carousel__item"></app-product-card>
                <app-product-card class="carousel__item"></app-product-card>
                <app-product-card class="carousel__item"></app-product-card>
                <app-product-card class="carousel__item"></app-product-card>
            </app-carousel>
        </div>
</div>

