.widget
{
    display: flex;
    align-items: center;
    padding: 15px 20px 15px 20px;
    border-radius: 10px;
    background-color: var(--white);
    min-width: 250px;
    box-shadow: 0 10px 17px #0000000d;
    position: relative;
}

.widget:hover
{
    cursor: pointer;
}

.widget__icon
{
    display: inline-flex;
}

.widget__text
{
    margin-left: 10px;
    font-size: 14px;
}

.home-section:not(:first-child)
{
    padding-left: 30px;
    padding-right: 30px;
}

.home-section--white
{
    background-color: var(--white);
    border-radius: 10px;
    padding-top: 20px;
}

.home-section:not(:last-child)
{
    margin-bottom: 30px;
}

.home-section__title
{
    margin-left: 15px;
    margin-top: 30px;
}

.stories
{
    background-image: url('https://cms.mvideo.ru/magnoliaPublic/dam/jcr:f16e1b5a-e46f-4c3e-95f5-04ebf4f3364e');
    min-width: 16rem;
    min-height: 22rem;
    border-radius: 0.8rem;
    background-size: cover;
}
