
<div style="padding: 30px;">
    <app-carousel>
        <app-product-card class="carousel__item"></app-product-card>
        <app-product-card class="carousel__item"></app-product-card>
        <app-product-card class="carousel__item"></app-product-card>
        <app-product-card class="carousel__item"></app-product-card>
        <app-product-card class="carousel__item"></app-product-card>
        <app-product-card class="carousel__item"></app-product-card>
        <app-product-card class="carousel__item"></app-product-card>
        <app-product-card class="carousel__item"></app-product-card>
        <app-product-card class="carousel__item"></app-product-card>
        <app-product-card class="carousel__item"></app-product-card>
        <app-product-card class="carousel__item"></app-product-card>
    </app-carousel>
</div>

<div style="padding: 30px;">
    <app-carousel>
        <app-product-card class="carousel__item"></app-product-card>
        <app-product-card class="carousel__item"></app-product-card>
        <app-product-card class="carousel__item"></app-product-card>
        <app-product-card class="carousel__item"></app-product-card>
        <app-product-card class="carousel__item"></app-product-card>
        <app-product-card class="carousel__item"></app-product-card>
        <app-product-card class="carousel__item"></app-product-card>
        <app-product-card class="carousel__item"></app-product-card>
        <app-product-card class="carousel__item"></app-product-card>
        <app-product-card class="carousel__item"></app-product-card>
        <app-product-card class="carousel__item"></app-product-card>
    </app-carousel>
</div>

