.header
{
    display: flex;
    background-color: var(--white);
    flex-direction: column;
}

.header__navbar
{
    display: flex;
    padding: 5px 45px 5px 45px;
}

.header__navbar--top
{
    background-color: #333;
}

.navbar__item--top
{
    color: var(--white);
    transition: .3s;
    font-size: 14px;
    font-weight: 500;
    display: flex;
    align-items: center;
}

.navbar__item:not(:last-child)
{
    margin-right: 20px;
}

.navbar__item--top:hover
{
    cursor: pointer;
    opacity: 0.6;
    transition: .3s;
}

.navbar__separator
{
    flex-grow: 1;
}

.header__navbar--middle
{
    padding: 20px 45px 20px 45px;
}

.header__carousel
{
    padding: 10px 30px 10px 30px;
}


.navbar__catalog
{
    display: flex;
    flex-direction: row;
}

.header__tabs
{
    display: flex;
    flex-direction: row;
}


.catalog-button
{
    display: flex;
    align-items: center;
    border: none;
    border-radius: 5px;
    background-color: #e31235;;
    padding: 8px 25px 8px 25px;
    align-items: center;
    color: var(--white);
}

.catalog-button:hover
{
    cursor: pointer;
}

.catalog-button__icon
{
    display: inline-flex;
    width: 26px;
    height: 26px;
    color: var(--white);
}

.catalog-button__text
{
    font-size: 14px;
    margin-left: 5px;
}

.header__item:not(:last-child)
{
    margin-right: 20px;
}

.header--bordered
{
    border-bottom: 1px rgba(51, 51, 51, 0.1) solid;
}

.navbar__button
{
    border: none;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: .8s;
}

.navbar__button:hover
{
    cursor: pointer;
    opacity: 0.5;
    transition: .8s;
}

.button__icon
{
    width: 18px;
    height: 18px;
}

.button__text
{
    font-size: 14px;
    margin-top: 5px;
}

.search-row
{
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    border-radius: 5px;
    border: 1px rgba(51, 51, 51, 0.1) solid;
    outline: 0;
    padding: 5px 10px 5px 10px;
    transition: .8s;
}

.search-row__input
{
    width: 100%;
    border: 0;
    outline: 0;
    font-size: 16px;
    background-color: transparent;
}

.search-row__button
{
    border: none;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: .8s;
}

.search-row__button:hover
{
    cursor: pointer;
    opacity: 0.5;
    transition: .8s;
}

.carousel__link
{
    white-space: nowrap;
    display: flex;
    align-items: center;
    transition: .8s;
}

.carousel__link:not(:last-child)
{
    margin-right: 20px;
}

.carousel__link:hover
{
    cursor: pointer;
    opacity: 0.8;
    transition: .8s;
}

.contact-phone
{
    display: flex;
    align-items: center;
}

.contact-phone__icon
{
    display: inline-flex;
}

.contact-phone__text
{
    margin-left: 5px;
}