<div class="header header--bordered">
    <div class="header__navbar--top">
        <div class="header__navbar container">
            <div class="navbar__item navbar__item--top">
                Челябинск
            </div>
            <div class="navbar__item navbar__item--top">
                Доставка
            </div>
            <div class="navbar__separator">        
            </div>
            <div class="navbar__item navbar__item--top">
                M.Club
            </div>
            <div class="navbar__item navbar__item--top">
                Программа лояльности
            </div>
            <div class="navbar__item navbar__item--top">
                Кредит и рассрочка
            </div>
            <div class="contact-phone navbar__item navbar__item--top">
                <mat-icon class="contact-phone__icon" svgIcon="phone"></mat-icon>
                <span class="contact-phone__text">
                    8-800-600-777-5
                </span>
            </div>
        </div>
    </div>

    <div class="header__navbar--middle">
        <div class="header__navbar container">
            <div class="logo navbar__item">
                <img src="https://cms.mvideo.ru/magnoliaPublic/dam/jcr:3c0c7e7e-d07f-4ecd-aa6d-6c4d11cda8f7">
            </div>
    
            <button class="catalog-button navbar__item">
                <mat-icon class="catalog-button__icon" svgIcon="catalog"></mat-icon>
                <span class="catalog-button__text">Каталог</span>
            </button>
    
            <div class="search-row navbar__item">
                <input class="search-row__input" placeholder="Искать Samsung Galaxy A20">
                <button class="search-row__button">
                    <mat-icon class="button__icon" svgIcon="search"></mat-icon>
                </button>
            </div> 
    
            <button class="navbar__button navbar__item">
                <mat-icon class="button__icon" svgIcon="profile"></mat-icon>
                <span class="button__text">Войти</span>
            </button>
            
            <button class="navbar__button navbar__item">
                <mat-icon class="button__icon" svgIcon="basket"></mat-icon>
                <span class="button__text">Корзина</span>
            </button>
        </div>
    </div>

    <div class="header__carousel container">
        <app-carousel>
            <span class="carousel__link carousel__item">
                Все акции
            </span>
            <span class="carousel__link carousel__item">
                Все акции
            </span>
            <span class="carousel__link carousel__item">
                Все акции
            </span>
            <span class="carousel__link carousel__item">
                Все акции
            </span>
            <span class="carousel__link carousel__item">
                Все акции
            </span>
            <span class="carousel__link carousel__item">
                Все акции
            </span>
            <span class="carousel__link carousel__item">
                Все акции
            </span>
            <span class="carousel__link carousel__item">
                Все акции
            </span>
            <span class="carousel__link carousel__item">
                Все акции
            </span>
            <span class="carousel__link carousel__item">
                Все акции
            </span>
            <span class="carousel__link carousel__item">
                Все акции
            </span>
            <span class="carousel__link carousel__item">
                Все акции
            </span>
            <span class="carousel__link carousel__item">
                Все акции
            </span>
            <span class="carousel__link carousel__item">
                Все акции
            </span>
            <span class="carousel__link carousel__item">
                Все акции
            </span>
            <span class="carousel__link carousel__item">
                Все акции
            </span>    
        </app-carousel>
    </div>
</div>
