<div class="header header--bordered">
    <div class="header__catalog">
        <div class="header__logo header__item">
            <img src="https://cms.mvideo.ru/magnoliaPublic/dam/jcr:3c0c7e7e-d07f-4ecd-aa6d-6c4d11cda8f7">
        </div>
        <button class="catalog__button header__item">
            <mat-icon class="catalog__icon" svgIcon="catalog"></mat-icon>
            <span class="catalog__text">Каталог</span>
        </button>
    </div>
    <div class="header__search">
        
    </div>
    <div class="header__tabs">
        <button class="header__button header__item">
            <mat-icon class="header__icon" svgIcon="profile"></mat-icon>
            <span class="header__text">Войти</span>
        </button>
        <button class="header__button header__item">
            <mat-icon class="header__icon" svgIcon="basket"></mat-icon>
            <span class="header__text">Корзина</span>
        </button>
    </div>
</div>