/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

:root
{
    --font-sans-serif: "PT Sans",sans-serif;
    --font-monospace: "PT Mono",monospace;
    --white: #fff;
    --gray-sticky : rgba(242, 242, 242, 1);
    --black: #333;
    --black-medium: rgb(70, 70, 70);
    --black-light: rgb(175, 175, 175);
    --box-shadow-light : rgba(242, 242, 242, 0.1);
}

body 
{
    margin: 0;
    font-family: var(--font-sans-serif);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--black-main);
    background-color: var(--gray-sticky);
    min-width: 1024px;
}


.container
{
    margin: 0 auto;
    max-width: 1400px;
    padding-left: 10px;
    padding-right: 10px;
}